.root {
    margin: 12px;
    font-size: 12px;
}

.title {
    font-size: 18px;
}

.rentalItem,
.boughtItem {
    margin-top: 12px;
}

.rentalItem:after,
.boughtItem:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rentalItemTitle,
.boughtItemTitle {
    width: 50%;
    float: left;
    font-weight: bold;
}

.rentalItemName,
.boughtItemName {
    width: 50%;
    float: left;
    text-align: right;
}

.total {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #000;
    font-weight: bold;
    font-size: 16px;
}

.totalTitle {
    width: 50%;
    float: left;
}

.totalPrice {
    width: 50%;
    float: left;
    text-align: right;
}
