.root {
    padding-top: 24px;
    margin: 12px;
    font-size: 12px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #AEACAC;
    line-height: 36px;
}

.headingPrice {
    float: right;
    font-family: 'courier new';
    font-weight: normal;
}

.headingIcon {
    font-family: 'courier new';
}

.table {
    width: 90%;
    margin: 0 0 0 10%;
}

.tableHeading {
    text-align: left;
    line-height: 50px;
    font-size: 16px;
}

.tableHeading tr th:last-child {
    text-align: right;
}

.tableHeadCells {
    font-size: 12px;
    font-weight: bold;
}

.tableBody tr td:last-child{
    text-align: right;
}

.tableRow {
    border-top: 1px dashed #ccc;

}

.tableRow td {
    padding: 5px 0;

}

.price {
    text-align: right;
    font-family: 'courier new';
    font-weight: normal;
}
